<div class="container my-4" id="cocktail_cards"style="width:100%;">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="index_card">
          <img src="<%= cocktail.photo %>" style="height:100%;width:100%;linear-gradient(rgba(0,0,0,0.3)">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
