<div class="banner" >
  <!-- <div class="container"> -->
  <div class="banner-content">
    <h1>Cocktail Library</h1>
    <p>Awesome beverages for developers nightlife</p>
      <a href="#cocktail_cards" class="scroll-down" address="true"></a>
      <div class="video-container">
        <div class="color-overlay"></div>
          <video autoplay loop muted>
            <source src="<%= video_path 'hero_video.mp4' %>" type="video/mp4">
          </video>
        </div>
      <!-- </div> -->
  </div>
  <!-- </div> -->
</div>

<div class="container my-4" id="cocktail_cards">
  <h2 style="text-align:center;margin:2%;color:#484c7f;">Recommendations</h2>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="home_card">
          <% if cocktail.photo? %>
             <img src="<%= cocktail.photo %>" style="height:100%;width:100%;linear-gradient(rgba(0,0,0,0.3)">
          <% else %>
            <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
          <% end %>

          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script>
   $(function() {
    $('.scroll-down').click (function() {
      $('html, body').animate({scrollTop: $('section.ok').offset().top }, 'slow');
      return false;
    });
  });
</script>

<!-- <script>
  $(function() {
  $('a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});
</script> -->
