.btn {
  background-color:#930077;
  color:white;
  border-radius: 3px;
}

.fas {
  color:#484c7f;
  text-decoration: none;
}


.far {
  color:#484c7f;
  font-size:22px;
  margin-left: 1%;
}

a:hover {
  text-decoration: none;
  }
