.home_card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-color: white;
}

.index_card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-color: white;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

#cocktail_cards {
  overflow: scroll;
}


.show_card {
  margin-top:5%;
  margin-bottom:5%;
  justify-content: center;
  text-align: center;
  height: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  color: #8a00d4;
  position: relative;
  background-color: #ddb6c6;
  padding:20px;
  border-radius: 5px;
  table {
    text-align:center;
  }
  h1 {
    padding: 10px;
  }
  img {
    padding:20px;
    width:100%;
  }

}

.form_card {
  height: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  color: #8a00d4;
  position: relative;
  background-color: #ddb6c6;
  padding:20px;
  border-radius: 5px;
}

