.home_card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-color: white;
  margin-top:2%;
  margin-bottom:2%;
  img {
    // height:100%;
    border-radius:5px;
    width:100%;
    object-fit:cover;
  }
}

.index_card {
  height: 200px;
  margin-top:2%;
  margin-bottom:2%;
  // width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // object-fit: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-color: white;
  img {
    // height:100%;
    border-radius:5px;
    width:100%;
    object-fit:cover;
  }
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}


.show_card {
  margin-top:5%;
  margin-bottom:5%;
  justify-content: center;
  text-align: center;
  height: 100%;
  width:100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  color: #484c7f;
  position: relative;
  background-color: #ddb6c6;
  padding:30px;
  border-radius: 5px;
  table {
    text-align:center;
  }
  h1 {
    padding: 10px;
    color:#17223b;
  }
  img {
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  }

}

.form_card {
  height: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  color: #8a00d4;
  position: relative;
  background-color: #ddb6c6;
  padding:20px;
  border-radius: 5px;
}

.dose_form {
  text-align: left;
}


@media (max-width: 1068px) and (min-width: 576px) {
  .show_card {
  width: 100%;
  justify-content: center;
  }
}

@media (max-width: 576px) {
  .show_card {
    width: 100%;
  }
}


@media (max-width: 1068px) and (min-width: 576px) {
  .dose_form {
    text-align: left;
    width: fit-content;
  }
}

@media (max-width: 576px) {
  .dose_form {
    text-align: left;
    width: fit-content;
    margin-left: -325px;
    margin-top: 350px;
  }
}
